
/* PAGE BACKGROUND */

body {
	background-image: url("https://cdn.jsdelivr.net/gh/RaSan147/test_workflow@16fae25201bf91f9ca7eb36fab1e56853463ed2d/img/cool%20bg.webp") !important;
	background-repeat: no-repeat !important;
	background-size: cover !important;
	background-attachment: fixed !important;
	background-position: center !important;

}

body:not(.ownlist), body.ownlist:not(.classic-ownlist) {
	background-color: #202020 !important;
	
}


.page-common #contentWrapper {
	background-color: #202020c0 !important;
}


.page-common #content {
	background-color: transparent !important;
}

/* ------------------------------------- */


body:not(.ownlist) {
	font-family: var(--font-fam) !important;
	font-size: 14px !important;
}


.page-common #content {
	border-color: #686868 !important;
	border-style: solid !important;
	border-radius: 5px !important;
}


/* TOP NAVIGATION BAR */

.page-common #nav {
	padding-left: 5px !important;
	background: #2b6bff !important;
}


.page-common #nav li a {
	color: #f1ecff !important;
	font-size: 17px !important;
	border-radius: 4px 4px 2px 2px !important;
	background: #2b6bff !important;
	text-decoration: none !important;
}

.page-common #nav li a:hover, .page-common #nav li.hover a, .page-common #nav.color-pc-constant li.hover a  {
	margin-top: -3px !important;
	background-color: rgb(37, 0, 105) !important;
}


.page-common #menu {
	background-color: #2b6bff !important;
	border-radius: 5px;
}

/* ------------------------------------------- */



/* HEADER LOGO */

.page-common #headerSmall {
	background-color: #202020 !important;
	background-image: url(/images/mal-logo-xsmall-white@2x.png?v=1634263200) !important;
	background-size: 179px 32px !important;
}
/* .page-common #headerSmall {
    background-color: #fff;
    background-image: url(/images/mal-logo-xsmall.png?v=1634263200);
    background-position: 0 8px;
    background-repeat: no-repeat;
    height: 36px;
    padding: 10px 0 2px;
    position: relative;
} */
.page-common #headerSmall a:hover {
	background-color: transparent !important;
}


/* ---------------------------------------- */



/* IMAGE MOD */

.page-common div.picSurround img, img {
	border-radius: 5px !important;
	border: none !important;
	box-shadow: #58d3f8 2px 2px 3px 0px !important;
}


/* ------------------------------------------ */


.page-common .spaceit.borderClass, .news-unit.clearfix {
	background-color: #6200ff23 !important;
	padding: 5px !important;
	border-radius: 5px !important;
	border-bottom: 1px solid #ffffff;
}

body.index .left-column {
	border: none !important;
}


/* ------------------------------------------ */



.auto-recommendations {
	height: 170px !important;
	padding: 5px !important;
}

.page-common #footer-block {
	background-color: #08229434 !important;
	border-radius: 5px !important;
}

