video.vjs-tech {
	-webkit-filter: invert() hue-rotate(180deg) brightness(105%) contrast(105%);
	-moz-filter: invert() hue-rotate(180deg) brightness(105%) contrast(105%);
	-o-filter: invert() hue-rotate(180deg) brightness(105%) contrast(105%);
	filter: invert() hue-rotate(180deg) brightness(105%) contrast(105%);


	height: auto !important;
	max-height: 100% !important;
	min-width: 100% !important;

}

#video-player-container {
	height: 85vh;
	width: 100% !important;
	max-height: 85vh !important;
	max-width: 100% !important;

	z-index: 999 !important;
}

#header-container {
	position: relative !important;
}

.show-smart-scroll-container {
	/* position: relative; */
	z-index: 1 !important;
}

div[data-testid="tabs-root"] {
	position: relative !important;
	z-index: 1 !important;
}

.cds-1.css-18zpckj.cds-3.cds-grid-item {
	opacity: 0.1 !important;
	background-color: transparent !important;
	/* height: 20px !important; */
	/* transform: scaleY(0.1) !important; */
	transition: 0.7s;
	position: fixed !important;
	z-index: 1 !important;
}

.cds-1.css-18zpckj.cds-3.cds-grid-item:hover {
	background-color: #444 !important;
	opacity: 1 !important;
	/* height: 50px !important; */
	/* transform: scaleY(1) !important; */
	transform-origin: top left;
}
.rc-ItemHeader {
	background-color: transparent !important;
}

#main-container {
	height: calc(100vh) !important;
	max-height: calc(100vh) !important;
}


button[data-testid="focused_lex_menu_close_button"] {
	margin-top: 100px !important; 
	/* to show below the top bar */
}

div.css-1w6ktku {
	margin-top: 100px !important; 
	/* to show below the top bar */
}

div.css-1x7hph9 {
	padding-left: var(--cds-spacing-200);
	/* lower the padding on left panel */
}